.viewPost {
    display: grid;
    gap: 3em;
    width: 93%;
    margin: 0 auto;
}

.postView {
    display: grid;
    gap: 0.5em;
}

.Title {
    letter-spacing: 0.075em;
    line-height: 1.5em;
}

.postDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authorCntr {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0.2em 0;
}

.Subtitle {
    text-transform: capitalize;
    font-style: oblique;
    letter-spacing: 0.02em;
    color: rgb(58, 58, 58);
}

.postForm {
    display: grid;
    gap: 0.5em;
    & div input, & div textarea {
        width: 100%;
        padding: 0.25em 0.5em;
        border-radius: 0.3em;
        border: 1px solid black;
    }
    & div input {
        font-weight: bold;
    }
    & div textarea {
        resize: none;
    }
}

.actionBtns {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

.commentCntr {
    display: grid;
    gap: 0.8em;
}


.newCmtInput {
    display: block;
    & textarea {
        width: 100%;
        resize: none;
        border-radius: 0.3em;
        padding: 0.2em 0.3em;
    }
}